div.container {
  background-color: black;
  width: 100%;
  height: 100vh;
}

div#main {
  height: 300px;
  width: 500px;
  position: absolute;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.inputText {
  font-size: 1.5rem;
  outline: 0;
  border: 2px solid white;
  background-color: white;
  padding: 10px;
}

.inputText:disabled {
  opacity: 0.4;
  cursor: none;
}

.submitBtn {
  background-color: rgba(24, 24, 155, 0.925);
  padding: 12px;
  font-size: 1.5rem;
  color: white;
  border: 1.5px solid black;
  transition: 0.25s opacity;
  border: 0px;
  border-left: none;
}

.submitBtn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.submitBtn:disabled {
  opacity: 0.4;
  cursor: none;
}

.errorMessage {
  color: red;
  font-size: 1.5rem;
  font-style: italic;
}

#main-form {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%)
}

body {
  margin: 0 auto;
}

.floatingWord {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation:
    move-x 16s linear infinite,
    move-y 16s linear infinite;
  font-size: 3.6rem;
  -webkit-text-stroke: 1px rgb(39, 39, 39);
}

.floatingWord:hover {
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes move-x {
  0% {
    left: 0;
    animation-timing-function: ease-in;
  }

  25% {
    left: 50%;
    animation-timing-function: ease-out;
  }

  50% {
    left: 100%;
    animation-timing-function: ease-in;
  }

  75% {
    left: 50%;
    animation-timing-function: ease-out;
  }

  100% {
    left: 0%;
    animation-timing-function: ease-in;
  }
}

@keyframes move-y {
  0% {
    top: 50%;
    animation-timing-function: ease-out;
  }

  25% {
    top: 0;
    animation-timing-function: ease-in;
  }

  50% {
    top: 50%;
    animation-timing-function: ease-out;
  }

  75% {
    top: 100%;
    animation-timing-function: ease-in;
  }

  100% {
    top: 50%;
    animation-timing-function: ease-out;
  }
}